.modalFooter {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .modalFooter {
      justify-content: center; /* Centrar los botones en la ventana modal */
    }
}

