.navbar{
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
    background: linear-gradient(135deg, rgb(143,52,87) 0%, rgb(74, 28, 64) 50%, rgb(30, 30, 30) 100%) !important;
    border-radius: 0.8rem;
}

.glitch {
    color: white;
    font-size: 35px;
    font-weight: 900;
    position: relative;
    font-family: 'Varela', sans-serif;
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    margin-left: 4rem;
    text-shadow: -1px 0 rgb(255, 0, 166);
    top: 0;
    color: rgb(30, 30, 30);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 15s infinite linear alternate-reverse;
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    margin-left: 5rem;
    text-shadow: 1px 0 rgb(209, 209, 234);
    top: 0;
    color: rgb(30, 30, 30);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 10s infinite linear alternate-reverse;
}

@keyframes noise-anim {
    0% {
    clip: rect(1px, 9999px, 28px, 0);
    }
    5% {
    clip: rect(1px, 9999px, 19px, 0);
    }
    10% {
    clip: rect(1px, 9999px, 13px, 0);
    }
    15% {
    clip: rect(85px, 9999px, 49px, 0);
    }
    20% {
    clip: rect(5px, 9999px, 56px, 0);
    }
    25% {
    clip: rect(9px, 9999px, 31px, 0);
    }
    30% {
    clip: rect(2px, 9999px, 73px, 0);
    }
    35% {
    clip: rect(4px, 9999px, 11px, 0);
    }
    40% {
    clip: rect(6px, 9999px, 61px, 0);
    }
    45% {
    clip: rect(4px, 9999px, 71px, 0);
    }
    50% {
    clip: rect(3px, 9999px, 69px, 0);
    }
    55% {
    clip: rect(2px, 9999px, 81px, 0);
    }
    60% {
    clip: rect(2px, 9999px, 85px, 0);
    }
    65% {
    clip: rect(2px, 9999px, 68px, 0);
    }
    70% {
    clip: rect(4px, 9999px, 79px, 0);
    }
    75% {
    clip: rect(5px, 9999px, 85px, 0);
    }
    80% {
    clip: rect(7px, 9999px, 90px, 0);
    }
    85% {
    clip: rect(2px, 9999px, 90px, 0);
    }
    90% {
    clip: rect(4px, 9999px, 95px, 0);
    }
    95% {
    clip: rect(1px, 9999px, 92px, 0);
    }
    100% {
    clip: rect(9px, 9999px, 92px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
    clip: rect(1px, 9999px, 49px, 0);
    }
    5% {
    clip: rect(9px, 9999px, 52px, 0);
    }
    10% {
    clip: rect(1px, 9999px, 70px, 0);
    }
    15% {
    clip: rect(5px, 9999px, 25px, 0);
    }
    20% {
    clip: rect(2px, 9999px, 90px, 0);
    }
    25% {
    clip: rect(1px, 9999px, 64px, 0);
    }
    30% {
    clip: rect(4px, 9999px, 47px, 0);
    }
    35% {
    clip: rect(6px, 9999px, 93px, 0);
    }
    40% {
    clip: rect(40px, 9999px, 9px, 0);
    }
    45% {
    clip: rect(60px, 9999px, 36px, 0);
    }
    50% {
    clip: rect(2px, 9999px, 90px, 0);
    }
    55% {
    clip: rect(90px, 9999px, 26px, 0);
    }
    60% {
    clip: rect(13px, 9999px, 87px, 0);
    }
    65% {
    clip: rect(10px, 9999px, 89px, 0);
    }
    70% {
    clip: rect(75px, 9999px, 98px, 0);
    }
    75% {
    clip: rect(4px, 9999px, 90px, 0);
    }
    80% {
    clip: rect(80px, 9999px, 99px, 0);
    }
    85% {
    clip: rect(4px, 9999px, 75px, 0);
    }
    90% {
    clip: rect(79px, 9999px, 90px, 0);
    }
    95% {
    clip: rect(93px, 9999px, 85px, 0);
    }
    100% {
    clip: rect(90px, 9999px, 98px, 0);
    }
}

.glitch:after,
.glitch:before {
    animation-duration: 10s; /* Animación más lenta */
    animation-timing-function: linear; /* Avance de la animación de manera uniforme */
    animation-iteration-count: infinite; /* La animación se repite indefinidamente */
    animation-direction: alternate; /* La animación se alterna entre los estilos de keyframe */
}

@media (max-width: 768px) {
    .glitch {
      font-size: 20px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }
}
